* {
  margin: 0px;
  padding: 0px;
  color: inherit;
  text-decoration: inherit;
  list-style-type: none;
}

body {
  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Linear+B&display=swap');
  font-family: 'Noto Sans Linear B', sans-serif;}
